<% visitor = notification.visitor %>
<% visited = notification.visited %>
<% case notification.action %>
<% when "direct_message" %>
<p>
  <%= link_to "#{visitor.email}", user_path(visitor) %>
  さんからダイレクトメッセージが届きました。
</p>
<% end %>
