<% visitor = notification.visitor %>
<% visited = notification.visited %>
<% case notification.action %>
<% when "direct_message" %>
<p>
  <%= link_to "#{visitor.email}", user_path(visitor) %>
  さんからダイレクトメッセージが届きました。
</p>
<% when "invitation" %>
<%= link_to "#{visitor.email}", user_path(visitor) %>
さんからグループに招待されました。
<%= link_to "参加する", join_group_path(notification.group_id) %>
<% end %>
