<h1>参加中のグループ一覧</h1>
<% groups = current_user.groups.order(:created_at) %>
<% groups.each do |group| %>
  <% if group.group_messages.where(checked: false).any? %>
    <strong>
      <%= link_to "#{group.name}", group_path(group.id) %>
    </strong>
  <% else %>
    <%= link_to "#{group.name}", group_path(group.id) %>
  <% end %>
<% end %>
